    :root {
        --mainBlue: #2832c2;
        --baseFont: 'Roboto', sans-serif;
        --fontGray: #6a6a6a;
        --whiteGray: #f2f3f5;
        --blackBlue: #27304D;
        --font-size: 14px;
    
    }
